@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;500;600;700;800;900&family=DotGothic16&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Lexend+Deca:wght@300;400;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;500;600;700;800;900&family=DotGothic16&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Lexend+Deca:wght@300;400;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* custom  design */
:root {
  /* reminder ang pag gawa ng naming ng root
dipende sa role nong mismong code na yon */

  /* yong number na nakikita mo don sa 
custom color or clr tawag jan based color  */
  /* primary color */
  --clr-cyan-dark-primary-400: hsl(158, 36%, 37%);
  --clr-cream-secondary-200: hsl(30, 38%, 92%);
  --clr-darker-primary-500: hsl(158, 36%, 20%);

  /*  Neutral Color */

  --clr-very-dark-blue-neutral-900: hsl(212, 21%, 14%);
  --clr-dark-grayish-blue-neutral-400: hsl(228, 12%, 48%);
  --clr-white-neutral-100: hsl(0, 0%, 100%);

  --font-primary: "Montserrat";
  --font-secondary: "Fraunces";

  --fw-regular: 500;
  --fw-bold: 700;
}

@media (prefers-reduce-motion: reduce) {
  *,
  *::before *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/* ang tawag dito is custom css reset


 gagamitin mo to every time na gagawa ka ng mga bagong projectt
  nakakatulong ito  para kahit saang web ka pumonta hind magagalaw yong 
  design 

  is also a modern use ng default style
  
  diba dati 

  *{
    padding 0;
    margin 0;
    box-sizing: border-box;

    eto naman yong modern style non 
/*
 
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* yong code na to nag bibigay sya ng responsive result
  kong wala to  tas  ginaw mong mobile yong mismong website mo 
  yong buong image is ma cucut sya or dimo makikita yong ibbang part

  pero pag meron ka neto 

  ang ginagawa nya kahit na sobarang liit nong image
  hindi mag kakaroon ng cut yong image nag aaddjust sya dipende 
  don sa  size nong mismong content */
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* same lang din sya para ma iwasan din natin 
 yong  overflow ng text  
 
 kasi kong wala to pag nilakihan mo yong text 
 ng mismong content mo tas ginawa mong mobile
 mag kakaroon ka ng scroll na patagilid 
 which is ang tawag don overflow kaya 
 need ito para maiwasan yong overflow
 */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
/*
  8. Create a root stacking context
*/

body {
  font-weight: var(--fw-regular);
  background-color: var(--clr-cream-secondary-200);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;

  /* meaning ng place content ibigsabihin
  nilalagay mo yong buong content
  sa mismong center */

  /* ! paalala pag napansin mo nag center yong mismong content

  pero wala sya don sa pinaka gitna ng y axis at x axis
  dahil wala kang  height 100vh hindi pixel lalagay 
  kong hindi viewport height or vh*/
  padding: 1rem;
}

/* product style */

.product__category {
  font-family: var(--font-primary);
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  font-size: 0.8175rem;
}

.product__title {
  font-family: var(--font-secondary);
  font-family: 2rem;
  color: var(--clr-very-dark-blue-neutral-900);
}

p {
  font-family: var(--font-primary);
  color: var(--clr-dark-grayish-blue-neutral-400);
  font-size: 0.875rem;
}

.product__price {
  font-family: var(--font-secondary);
  color: var(--clr-cyan-dark-primary-400);
  font-size: 2rem;
}
.product__orignal-price {
  font-family: var(--font-primary);
  color: var(--clr-dark-grayish-blue-neutral-400);
  font-size: 0.875rem;
  text-decoration: line-through;
  /* yan yong line don gitna*/
  font-weight: var(--fw-regular);
}

button {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  padding: 0.5em 1.5em;
  cursor: pointer;
  /*  trabaho nya pag  tinutol mo yong mouse mo 
  yong mouse arrow mo mag papalit sya na parang click */
  background-color: var(--clr-cyan-dark-primary-400);
  color: var(--clr-white-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  border-radius: 0.5rem;
  border: 0;

  /* kaya namn  may border0 tayo kahit wala namntayo 
  ma declare na border dahil yon sa default style ng
  butoon once na na decalre mo kasi yon 
  may roon syang default style na border 1 px solid
  para ma wala yon need natin ng border 0 */

  /* pag may i add tayo na symbol sa mismong botton
  kaylagnan natin gumamit ng 
  display inline-flex  is just it's still an inline item
  pero na saloob sya ng bottom pag ginawa mo to gigilid yong 
  content sa loob ng botoom 
  */
  display: inline-flex;
  /* tas gagamit tayo ng justify content center
  para ma center natin yong mismong content sa loob */
  justify-content: center;

  /* and also para  para hindi sya ma gulo need din 
  natin lagyan gn align item center
  para kahit sa anong position nong mismong content
  asa center parin sya */
  align-items: center;

  /* yong gap namn yon yong nag bibigay ng space between sa symbol 
  at sa text */
  gap: 0.5rem;
}
.button[data-icon="shopping-cart"]::before {
  /* yong data-icon naman nayan need mo yan i declare
  sa html yogn shopping-cart namn na yan  yan yong ni lagay mong 
  name sa mismong icon na yan *
  
  !paalala lagi ka din mag lalagay ng ::before or yong seudo elements
  para ma intindihan mo yan need mo mag aral ng advance CSS
  dahil masisira yong mismong button mo.

  pano gumagana si  :: before
  pag nilagay mo si before  ang mang yayare 
  lalabas si icon bago si add to cart

  for example 

  ::before;  imagin yong icon is symbol sya 
  Icon Add to cart 
  
  pag :: after naman yong lalagay mo
  Add to cart Icon 
  
  yan yong magiging output nya

  */

  content: "";
  /* yong content nayan kaya walang nakalagay jan 
  hindi ibigsabihin useless yan 
  
  every time na gagamit tayo ng seudo elements 
  kaylangan may content: "" na ganyan kalalagay
  kasi pag wala kang ganyan na nilalagay ang mang yayare
  hindi lalabas yong mismong content or yong icon or svg-image

  
  para mas maintindihan mo 
  try mo i remove yong content""
  */

  background-image: url(/product-preview-card-component-main/images/icon-cart.svg);
  width: 0.9375rem;
  height: 1rem;
}
button:hover,
:focus {
  background-color: var(--clr-darker-primary-500);

  /* parasan namn yong focus  kasi minsan makikita mo lang 
  yong focus don sa link a pero dahil botton gamit natin 
  once na na click na nong user yong link automatic
  na mag papakita na na click na nya yong mismogn button parang link
  */
}
.flex-group {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  /* gumamit tayo ng display flex
  para ma gawa  natinn yong row

  gumamit namn tayo ng gap  para ma hiwalay  
  yong dalawang content

  padding namn para sa space yon yong sa taas
  at baba 

  flex-wrap namn kasi pag pinapaliit mo yong website
  na wawala yong content mo 

  kaya tayo nag lagay ng flex wrap din para pag pinapaliit 
  sya auto matic na mag aadjust */
  align-items: center;
}

.product {
  --content-padding: 1.5rem;
  /* so bat tayo dito nag lalagay ng 
custom na padding para mas mapadali yong pag 
change ng design incase na may kaylangan baguhin

at para mas controlado mo yong design 

kaya namn na sa loob sya ng product
para hindi ma lito yong mismong reader ng code

pag nakita nya na yong content-padding ko na sa loob
ng product alm nya na yong ginagamit kong 
padding  sa mismong product,  lang at wala sya 
don sa iba kong may pani bago man akong 
ilalagay na product.

at  it also help to maintain the code.
*/

  --contet-spacing: 1rem; /* gap eto */

  /* so same lang din sila ng --content padding kong bakit 
  sya na sa loob ng product 
  kong ppapansin mo kaya sila nag kahiwalay
  dahil din yon sa gap dahil ang ginagawa ng gap
  pinag hihiwaly nya yong mismong mga content
  saloob ng product*/

  background-color: var(--clr-white-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  /* kaya tayo nag lagay ng overflow hidden pag mas lalo mo 
  kasi syang pinapaliit nag kakaroon ng oevrflow don sa mismong
  content mo */
  display: grid;
  /* advantage ni grid is kahit i declare mo sya walang mag babago 
  sa content mo */

  max-width: 600px;
}
/* responsive design */
@media (min-width: 600px) {
  .product {
    /* as you can see yan --content-padding: 2 rem nalang nilagay ko 
    dahil na ka declare na yong content-- pading ko sa mismong padding 
    so pag nag 600 px na sa yong mismong content na ginawa ko automatic na sya 
    amg aaddjust kahit wala akong ginawa  css  na padding sa mismong @media 600px

    basta nag declare ako ng --content-padding 
    mag aadjust na yon pag nag 600 px */
    --content-padding: 2rem;

    grid-template-columns: 1fr 1fr;
    /* powede din display flex dipende sa trip mo */
  }
}

.product__content {
  padding: var(--content-padding);
  /* padding content ang purpose neto is 
  mag karoon sya ng hidden space  sa top bottom left right
  kaya mapapansin mo na sa gitna  yong mga content*/

  /*  yong hidden space na yon makikita yon sa mismong 
  loob ng box pero nasa labas sya 
  yong spacing namn na nakikita  mo sa loob ng content
  kaya sila mag kakahiwalay  is dahil yon sa gap 
 */

  display: grid;
  /* kong mapapansin mo  bakit may grid dito 
  powede sya gamitin sa botton  for example 
  once na nag declare kana ng grid doon sa loob ng 
  content tas may button 
  auto matik na mag aadjust na sya */
  gap: var(--contet-spacing);
}
